<div class="dashboard-container">
    <div class="card-container">
      
      <!-- Users Card -->
      <div class="card stat-card">
        <div class="card-icon bg-primary">
          <i class="fas fa-users"></i>
        </div>
        <h3>Nombre d'Utilisateurs</h3>
        <p>{{ totalUsers }}</p>
      </div>
      
      <!-- Bank Accounts Card -->
      <div class="card stat-card">
        <div class="card-icon bg-success">
          <i class="fas fa-credit-card"></i>
        </div>
        <h3>Comptes Bancaires</h3>
        <p>{{ totalComptes }}</p>
      </div>
      
      <!-- Credit Cards Card -->
      <div class="card stat-card">
        <div class="card-icon bg-warning">
          <i class="fas fa-credit-card"></i>
        </div>
        <h3>Carte Bancaires</h3>
        <p>{{ totalCartes }}</p>
      </div>
      
      <!-- Number of Bank Accounts Card -->
      <div class="card stat-card">
        <div class="card-icon bg-danger">
          <i class="fas fa-building"></i>
        </div>
        <h3>Nombre de Comptes Bancaires</h3>
        <p>{{ totalComptes }}</p>
      </div>
      
    </div>
  
    <!-- Chart Container -->
    <div class="chart-container">
      <canvas id="statChart"></canvas>
    </div>
  </div>
  